@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 200 20% 97.06%;
        --foreground: 0 0% 10.2%;
        --card: 200 20% 97.06%;
        --card-foreground: 0 0% 10.2%;
        --popover: 200 20% 97.06%;
        --popover-foreground: 0 0% 10.2%;
        --primary: 170.18 27.64% 39.02%;
        --primary-foreground: 0 0% 100%;
        --secondary: 211.58 44.19% 91.57%;
        --secondary-foreground: 210 50% 25.1%;
        --muted: 195 10.53% 92.55%;
        --muted-foreground: 204 3.03% 32.35%;
        --accent: 217.78 47.37% 88.82%;
        --accent-foreground: 168.98 31.21% 30.78%;
        --destructive: 169.69 35.56% 35.29%;
        --destructive-foreground: 0 0% 100%;
        --border: 208.24 30.91% 89.22%;
        --input: 208.24 30.91% 89.22%;
        --ring: 170.18 27.64% 39.02%;
        --chart-1: 170.13 37.09% 41.76%;
        --chart-2: 170.18 27.64% 39.02%;
        --chart-3: 168.98 31.21% 30.78%;
        --chart-4: 196.24 44.97% 37.06%;
        --chart-5: 192.73 41.25% 31.37%;
        --sidebar: 195 10.53% 92.55%;
        --sidebar-foreground: 0 0% 10.2%;
        --sidebar-primary: 170.18 27.64% 39.02%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 217.78 47.37% 88.82%;
        --sidebar-accent-foreground: 168.98 31.21% 30.78%;
        --sidebar-border: 208.24 30.91% 89.22%;
        --sidebar-ring: 170.18 27.64% 39.02%;
        --font-sans: Poppins, sans-serif;
        --font-serif: Libre Baskerville, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.375rem;
        --shadow-2xs: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.06);
        --shadow-xs: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.06);
        --shadow-sm: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 1px 2px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 1px 2px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-md: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 2px 4px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-lg: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 4px 6px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-xl: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 8px 10px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-2xl: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.3);
    }

    .dark {
        --background: 200 5.88% 10%;
        --foreground: 240 4.76% 95.88%;
        --card: 180 3.9% 15.1%;
        --card-foreground: 240 4.76% 95.88%;
        --popover: 180 3.9% 15.1%;
        --popover-foreground: 240 4.76% 95.88%;
        --primary: 170.13 37.09% 41.76%;
        --primary-foreground: 200 20% 97.06%;
        --secondary: 192.73 41.25% 31.37%;
        --secondary-foreground: 217.78 47.37% 88.82%;
        --muted: 180 3.9% 15.1%;
        --muted-foreground: 200 3.45% 82.94%;
        --accent: 196.24 44.97% 37.06%;
        --accent-foreground: 217.78 47.37% 88.82%;
        --destructive: 170.12 41.87% 60.2%;
        --destructive-foreground: 0 0% 100%;
        --border: 195 3.13% 25.1%;
        --input: 195 3.13% 25.1%;
        --ring: 170.13 37.09% 41.76%;
        --chart-1: 170.15 44.97% 70.78%;
        --chart-2: 170.12 41.87% 60.2%;
        --chart-3: 169.57 36.51% 50.59%;
        --chart-4: 213.08 47.98% 56.27%;
        --chart-5: 207.46 46.46% 50.2%;
        --sidebar: 200 5.88% 10%;
        --sidebar-foreground: 240 4.76% 95.88%;
        --sidebar-primary: 170.13 37.09% 41.76%;
        --sidebar-primary-foreground: 200 20% 97.06%;
        --sidebar-accent: 196.24 44.97% 37.06%;
        --sidebar-accent-foreground: 217.78 47.37% 88.82%;
        --sidebar-border: 195 3.13% 25.1%;
        --sidebar-ring: 170.13 37.09% 41.76%;
        --font-sans: Poppins, sans-serif;
        --font-serif: Libre Baskerville, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.375rem;
        --shadow-2xs: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.06);
        --shadow-xs: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.06);
        --shadow-sm: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 1px 2px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 1px 2px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-md: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 2px 4px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-lg: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 4px 6px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-xl: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.12),
            1px 8px 10px -3px hsl(171.72 31.87% 17.84% / 0.12);
        --shadow-2xl: 1px 1px 16px -2px hsl(171.72 31.87% 17.84% / 0.3);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
